body {
    background-color: black;
    color: green;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#start-btn {
    background-color: green;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 2rem;
}

body {
    background-color: black;
    color: green;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#start-btn {
    background-color: green;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 90%;
    padding: 2rem;
    max-width: 500px; /* aggiunge un limite massimo di larghezza */
}

    #container p {
        color: green;
        line-height: 1.5;
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0;
    }

    #container input {
        margin-left: 1rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 10px;
        border: none;
        background-color: black;
        box-shadow: 0 0 0 3px green;
        color: green;
        font-family: monospace;
        width: 100%;
        max-width: 400px; /* aggiunge un limite massimo di larghezza */
    }

    #container button {
        background-color: green;
        color: black;
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.2rem;
        border: none;
        margin-top: 1rem;
        width: 100%;
        max-width: 300px; /* aggiunge un limite massimo di larghezza */
    }

    #container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    #container hr {
        width: 100%;
        height: 2px;
        background-color: green;
        border: none;
        margin: 2rem 0;
    }
